body {
    background-color: black;
    margin: -5px;
    top: 0;
    height: 100%;
    width: 100%;
    background: #000;
    overflow: auto;
    z-index: 99;
    color: #e9e9e9;
    text-align: center;
    max-width: 90%;
    margin: 0 auto;
}
.jumbotron {
    padding-top: 0;
    background-color: transparent;
    border: 20px solid black;
}
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.fade-in {
    opacity: 0;
    -webkit-animation: fadeIn ease-in 2s;
    -moz-animation: fadeIn ease-in 2s;
    animation: fadeIn ease-in 2s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    animation-duration: 2s;
}
.fade-in.one {
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    animation-delay: 0.2s;
}
.fade-in.two {
    -webkit-animation-delay: 1.1s;
    -moz-animation-delay: 1.3s;
    animation-delay: 1.1s;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
.fade-in.three {
    -webkit-animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
    animation-delay: 0.1s;
}
.banner {
    width: 100%;
    height: auto;
    padding-bottom: 30px;
}
li {
    padding: 0;
    margin: 0;
}
nav {
    text-align: center;
    width: 100%;
    position: relative;
    height: auto;
    overflow: hidden;
    background: none;
}
nav ul li {
    display: inline-block;
    font-family: 'Titillium Web', sans-serif;
}
nav ul li a {
    color: thistle;
    display: inline-block;
    text-decoration: none;
    padding: 20px;
    border-bottom: 1px solid thistle;
    transition-property: all .2s linear 0s;
    -moz-transition: all .2s linear 0s;
    -webkit-transition: all .2s linear 0s;
    -o-transition: all .2s linear 0s;
    font-size: 16px;
}
ul, menu, dir {
  padding-left: 0px;
}
nav ul li a:hover {
    color: #615b9e;
}
#aboutMe {
    padding-bottom: 10px;
    font-family: 'Titillium Web', sans-serif;
}
#profilePic {
  border: solid 3px rgba(120,150,255,0.4);
  height: 300px;
  border-radius: 25px;
}
.aboutMe .paragraph {
  margin:0px;
}
.aboutMe {
    padding-top: 30px;
}
.social {
    font-size: 25px;
    padding: 20px;
    margin-top: 30px;
    border-radius: 25px;
}
.social p {
    margin: 0 20px;
    padding: 20px 40px 5px 40px;
    line-height: 30px;
    font-size: 16px;
}
.social p a {
    color: #34B484;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
.social-icon {
    width: 80px;
    height: 50px;
    background: #e9e9e9;
    color: #333;
    display: inline-block;
    margin: 20px 20px 0 0;
    padding-top: 7px;
    border-radius: 75px;
    transition-property: all .2s linear 0s;
    -moz-transition: all .2s linear 0s;
    -webkit-transition: all .2s linear 0s;
    -o-transition: all .2s linear 0s;
}
.social-icon:hover {
    background: #34B484;
    color: #f0f0f0;
}
.social-icon h3 {
    margin-top: 12px;
}
.skills p{
  text-transform: capitalize;
  color: #fff;
  font-size:14px;
	padding:20px;
  background-color:rgba(120,150,255,0.4);
  margin-top:30px;
  border-radius:25px;
  border: 2px solid thistle;
}
.skills h2{
  color:#f0f0f0;
  font-family: 'Titillium Web', sans-serif;
}
@media screen and (max-width:28em) {
  nav ul li {
      display: block;
  }
  nav ul li a {
    font-size: 16px;
  }
}
@media screen and (max-width:48em) {
  .aboutMe .paragraph {
    margin:0px;
    font-size:14px;
  }
  #profilePic {
    border: solid 3px rgba(120,150,255,0.4);
    display: inline-block;
    width: 70%;
    height: auto;
    border-radius: 25px;
  }
    pro
    .social {
        color: #c1c1c1;
        font-size: 25px;
        padding-top: 15px;
        margin-top: 15px;
    }
    .social p{
      padding: 20px 0 5px 0;
    }
    .social-icon {
        width: 100%;
        height: 50px;
        background: #fff;
        color: #333;
        display: block;
        margin: 5px 0;
        border-radius: 15px;
    }
  }
